[package]
name = "pbc"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ark-serialize = { version = "^0.3.0", default-features = false }
ark-ff = { version = "^0.3.0", default-features = false }
ark-ec = { version = "^0.3.0", default-features = false }
ark-poly-commit = "0.3"
ark-poly = "0.3"
ark-bls12-377 = "0.3"
ark-ed-on-bls12-377 = "0.3"
ark-bw6-761 = "0.3"
ark-pallas = "0.3"
ark-vesta = "0.3"

merlin = { version = "3.0", default-features = false }
rand = "0.8.4"
sha2 = "0.10.1"
plonk-core = { git = "https://github.com/heliaxdev/ark-plonk/", features = ["trace"], branch="taiga/randomized-circuits" }
plonk-hashing = { git = "https://github.com/heliaxdev/ark-plonk/", branch="taiga/randomized-circuits" }
blake2 = "0.9"
rs_merkle = { git = "https://github.com/heliaxdev/rs-merkle/" } # "0.2.2"
lazy_static = "1"

[dev-dependencies]
ark-std = "0.3"

[patch.crates-io]
ark-bls12-377 = { git="https://github.com/simonmasson/curves/", branch="new-curve-models" }
ark-ed-on-bls12-377 = { git="https://github.com/simonmasson/curves/", branch="new-curve-models" }
ark-bw6-761 = { git="https://github.com/simonmasson/curves/", branch="new-curve-models" }
ark-pallas = { git="https://github.com/simonmasson/curves/", branch="new-curve-models" }
ark-vesta = { git="https://github.com/simonmasson/curves/", branch="new-curve-models" }
