[package]
name = "taiga_halo2"
version = "0.1.0"
edition = "2021"

[dependencies]
rand = "0.8.4"
lazy_static = "1"
blake2b_simd = "1"
pasta_curves = "0.4"
ff = "0.12"
group = "0.12"
halo2_gadgets = {version = "0.2", features = ["test-dependencies"]}
halo2_proofs = "0.2"
bitvec = "1"
subtle = { version = "2.3", default-features = false }
dyn-clone = "1.0"

[dev-dependencies]
criterion = "0.3"
proptest = "1.0.0"

[[bench]]
name = "action_proof"
harness = false

[[bench]]
name = "vp_proof"
harness = false

# [[examples]]
# name = "sudoku"